<div class="container">
  <div class="row">
    <div class="col-sm-3 cursor">
  <img data-toggle="tooltip" title="Stable!" routerLink="/stable" class="img-responsive" src="../../assets/images/Stable.png" alt="mp"> 
  </div>
  <div class="col-sm-3 cursor">
  <img data-toggle="tooltip" title="Seize WorkShop!" routerLink="/workshop" class="img-responsive" src="../../assets/images/Siege_workshop.png" alt="mp"> 
  </div>
  <div class="col-sm-3 cursor">
  <img data-toggle="tooltip" title="Barracks!" routerLink="/baracs" class="img-responsive" src="../../assets/images/Barracks.png" alt="mp"> 
  </div>
  </div>
  <div class="row">
    <div class="col-sm-3 cursor">
  <img data-toggle="tooltip"  title="Market Place!" routerLink="/market" class="img-responsive" src="../../assets/images/MarketPlace.png" alt="mp"> 
  </div>
  <div class="col-sm-3 cursor">
  <img data-toggle="tooltip" title="Black Smith!" routerLink="/blackSmith" class="img-responsive" src="../../assets/images/Blacksmith.png" alt="mp"> 
  </div>
  <div class="col-sm-3 cursor">
  <img data-toggle="tooltip" title="Town Center!" routerLink="/villager" class="img-responsive" src="../../assets/images/TownCenter.png" alt="mp"> 
  </div>
 
  <!--<button class="btn btn-link" routerLink="/market">Market Place</button>
  <button class="btn btn-link" routerLink="/blackSmith">Black Smith</button>
  <button class="btn btn-link" routerLink="/baracs">Barracks</button>
  <button class="btn btn-link" routerLink="/stable">Stable</button>
  <button class="btn btn-link" routerLink="/workshop">Seize WorkShop</button>
  <button class="btn btn-link" routerLink="/villager">Town Center</button>-->
</div>
<div class="row">
 <div class="col-sm-offset-3 col-sm-3 cursor">
  <img data-toggle="tooltip" title="Watch tower" routerLink="/tower" class="img-responsive" src="../../assets/images/watchTower.png" alt="mp"> 
  </div>
</div>
</div>